$color-grey-dark: #555;
$color-text: #777;
$color-grey: #999;
$color-little-grey: #ccc;
$color-light-grey: #eee;
$color-high-line: #ff5777;
$color-tint: #fa8072;
$color-gold: #ffd700;
$black: #000;
$white: #fff;
$basis-font-size: 10px;
$smaller-font-size: 12px;
$small-font-size: 14px;
$normal-font-size: 16px;
$large-font-size: 18px;
$larger-font-size: 22px;
$price-font: 28px;
$line-height: 1.5;

